button {
    padding: 10px;
    background-color: white;
    color: black;
    margin: 5px;
    width: 100px;
}

button:hover {
    background-color: red;
}

* {
    background-color: black;
}

body {
    display:  flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    
}

button-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
}