button {
    padding: 10px;
    background-color: white;
    color: black;
    margin: 5px;
    width: 120px;
}

button:hover {
    background-color: red;
}

* {
    font-family: 'Merienda';font-size: 22px;
}

body {
    display:  flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    
}

button-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: black;
}

h3 {
    color: black;
}

.game-output {
    margin-top: 20px;
}